.navbar {
  background-color: var(--dark-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--primary-color);
  z-index: 1000;
}

@media (max-width: 1024px) {
  .navbar {
    height: 3.5rem;
  }
}

.navContainer {
  position: relative;
  width: 100%;
}

.navCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}
.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  color: var(--primary-color);
  font-size: 2rem;
}
.inner {
  display: none;
}
.navToggle {
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white-color);
}
@media (min-width: 1024px) {
  .navToggle {
    display: none;
  }
  .inner {
    display: flex;
    align-items: center;
  }
}

.nav-links {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  display: block;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.nav-link {
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  padding: 2px 6px;
  font-weight: var(--font-weight-bold);
  font-size: var(--menu-font-size);
  color: var(--white-color) !important;
}
.nav-link:hover {
  color: var(--primary-color) !important;
}

.nav-icons {
  color: var(--white-color);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}
.nav-icon {
  color: var(--white-color) !important;
  padding: 2px 6px;
}
.nav-icon:hover {
  color: var(--primary-color) !important;
}
.navMobile {
  position: absolute;
  top: 3.5rem;
  background-color: rgba(23, 24, 25, 0.9);
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  border-bottom: solid 1px var(--primary-color);
  transition: var(--transition-hover);
}
@media (min-width: 1024px) {
  .navMobile {
    display: none;
  }
}
.navMobile .nav-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
.navMobile .nav-icons {
  padding: 1rem 0 2rem;
}
